USE [dam]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 21-Nov-19 0:58:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[Id] [bigint] NOT NULL,
	[Username] [nchar](250) NULL,
	[Password] [nchar](250) NULL,
	[Name] [nvarchar](250) NULL,
	[IdTeam] [bigint] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Team]    Script Date: 21-Nov-19 0:58:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Team](
	[Id] [bigint] NOT NULL,
	[Name] [int] NULL,
 CONSTRAINT [PK_Team] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Yasuo]    Script Date: 21-Nov-19 0:58:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yasuo](
	[Id] [bigint] NOT NULL,
	[IdTeam] [bigint] NULL,
	[Name] [nvarchar](250) NULL,
 CONSTRAINT [PK_Yasuo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Client]  WITH CHECK ADD  CONSTRAINT [FK_Client_Team] FOREIGN KEY([IdTeam])
REFERENCES [dbo].[Team] ([Id])
GO
ALTER TABLE [dbo].[Client] CHECK CONSTRAINT [FK_Client_Team]
GO
ALTER TABLE [dbo].[Yasuo]  WITH CHECK ADD  CONSTRAINT [FK_Yasuo_Team] FOREIGN KEY([IdTeam])
REFERENCES [dbo].[Team] ([Id])
GO
ALTER TABLE [dbo].[Yasuo] CHECK CONSTRAINT [FK_Yasuo_Team]
GO
